<section class= "users-card">
<%= render partial: "user" %>

  <div class="user-bio">
    <h3> <%=@user.bio%><h3>
   </div>
   <ul>
   <% @posts.each do |post|%>
     <li>
      <h2><%=post.title%><h2>
      <h3><%=post.text%></h3>
      <div>
          <h5>Comments:<%=post.comments_counter%><h5>
          <h5>Likes:<%=post.likes_counter%></h5>
       <div>
     </li>
     <%end%>
   </ul>

   <button>
     <a href=<%="/users/#{@user.id}/posts"%>> See All Posts</a>
   </button>
</section>