<section class= "users-card">
<%= render "user"%>
   <ul>
   <% @posts.each do |post|%>
     <li>
     <a href="<%= user_post_path(@user, post) %>">
      <div>
          <h2><%=post.title%><h2>
          <h3><%=post.text%></h3>
          <p>Comments:<%=post.comments_counter%><p>
          <p>Likes:<%=post.likes_counter%></p>
       <div>
     </li>
     <div class="comments"> 
     <ul>
        <%post.most_recent_comments.includes(:author).each do |comment|%>
        <li>
             <h3><%=@user.name%> : <%=comment.text%></h3>
        </li>
        <%end%>
      </ul>
      </a>
     </div>
     <%end%>
   </ul>

   <div class="add-new-post">
    <a href="<%= new_user_post_path(@user) %>">Add new post</a>
  </div>
</section>