<div >
  <div class='postdetails'>
    <div class='postCard'>  
      <h2 ><%= @post.title %></h2> By <p ><%= @user.name %></p>
      <div class="likesComments">
        <p >Likes: <%= @post.likes_counter  %> ,</p>
        <p >comments: <%= @post.comments_counter %> </p>
      </div>
      <%= form_with model: [@post, @like], url: create_post_like_path  do |form| %>
      <div class="mb-4 flex flex-col">
        <%= form.submit "Like ðŸ‘" , class: "text-[#11537d] text-xl font-medium bg-white px-4 py-2 rounded-[15px] w-fit cursor-pointer" %>
      </div>
    <% end %>
    </div> 
  </div>
  <div class="comments-container">
    <% @comments.each do |comment| %>
      <div >  
        <p ><%= comment.author.name %>: <%= comment.text %></p>
      </div>
    <% end %>
    <div class="btnSeeAll">
      <%= link_to "add comment", new_post_comment_path(@post)%>
     </div>

  </div>
</div>